@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/zOL64pLDlL1D99S8g8PtiKchq-lmi8DidBc.woff) format('woff');
}
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/raxjHiqOu8IVPmn7epZnDMyKBvHf5D6c4Pz-UXB0n-ahBg.woff) format('woff');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLbOW3p1veQ.woff) format('woff');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8RHYOLbOW3p1veQ.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WdhzSTh89Y.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_dJE3gfD-Px3rCs.woff) format('woff');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ahcZv8Cj3ylylTXzTOcrVMNzjUw.woff) format('woff');
}
